<%= image_tag("fox.jpg", class: "db-img") %>

<div class="container-fluid">
  <div class="dashboard">
    <ul class="nav nav-pills">
      <li role="presentation" class="pill user">
        <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
      </li>
      <li role="presentation" class="pill upload">
        <a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <strong>Upload</strong></a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-5 col-md-offset-6 title">
        <h1>Nature</h1>
        <h1>Boy</h1>
        <category>
          <div class="row">
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type lion">
                Mammals
              </section>
            </div>
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type">
                <p>Sea Creatures</p>
              </section>
            </div>
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type">
                <p>Reptiles</p>
              </section>
            </div>
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type">
                <p>Space</p>
              </section>
            </div>
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type">
                <p>Beautfiul Views</p>
              </section>
            </div>
            <div class="cat-column col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2">
              <section class="pic-type">
                <p>Unreal</p>
              </section>
            </div>
          </div>
        </category>
      </div>
    </div>
  </div>
</div>
