<%= image_tag("fox.jpg", class: "db-img") %>

<ul class="nav nav-pills">
  <li role="presentation" class="user">
    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
  </li>
  <li role="presentation" class="upload">
    <a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <strong>Upload</strong></a>
  </li>
</ul>
