.nav > li > a:hover {
  background: transparent;
} // disable bootstrap hover

.container-fluid {
  background: asset-data-url("fox.jpg") no-repeat fixed;
}
.dashboard {
  color: $dull-lavender;
}

.pill {
  font-size: 16.5px;
  font-family: 'Oswald', sans-serif;
  color: $pink;

  a {
    color: $white;
  }

  .sign-up {
    color: blue;
    border: none;
  }

  &:hover {

    a:not(.sign-up) {
      color: $pink;
      border: 1px solid $pink;
      background-color: $white;
    }
  }
}

.upload {
  background-color: transparent;
  border-radius: 4px;

  &:hover {
    background-color: transparent;
  }

  a {
    border: 1px solid $white;
  }
}

.title h1 {
  font-family: 'Merienda One', cursive;
  text-align: center;
  font-size: 75px;
  padding: 0;
  text-shadow: 4px 4px $black;
  color: $white;
}

.title h1:first-child {
  margin-top: 60px;
  margin-bottom: -10px;
}

.title h1:nth-child(2) {
  margin-top: 0;
}

// category .row {
//   margin-top: 85px;
// }
//
.cat-column {
  background: white;
  text-align: center;
  margin-bottom: 20px;
  height: 150px;
  border-radius: 3px;
  display: inline-block;
  width: 300px;
  margin: 20px;
}

.lion {
  background: asset-data-url("lion.jpg");
  background-size: cover;
}

.categories {
  float: right;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dropdown-menu .form-group {
  text-align: center;
}
