.nav > li > a:hover {
  background: transparent;
} // disable bootstrap hover

.dashboard {
  color: $dull-lavender;
}

img.db-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.pill {
  font-size: 16.5px;
  font-family: 'Oswald', sans-serif;
//  letter-spacing: 1.5px;

  a {
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $pink;

    a {
      color: $pink;
      border: 1px solid $pink;
    }
  }
}

.upload {
  background-color: transparent;
  border-radius: 4px;

  &:hover {
    background-color: transparent;
  }

  a {
    border: 1px solid $white;
    //TODO need a cooler font!
  }
}

.title h1 {
  font-family: 'Merienda One', cursive;
  text-align: center;
  font-size: 75px;
  padding: 0;
  text-shadow: 4px 4px $black;
  color: $white;
}

.title h1:first-child {
  margin-top: 60px;
  margin-bottom: -10px;
}

.title h1:nth-child(2) {
  margin-top: 0;
}

category .row {
  margin-top: 85px;
}

category .cat-column {
  background: white;
  text-align: center;
  margin-bottom: 20px;
  height: 150px;
  border-radius: 3px;
  padding: auto 0; // Override Bootstrap!
}

.lion {
  background: asset-data-url("lion.jpg");
  background-size: cover;
  height: 100%;
  width: 500px;
}
